
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,700;1,700&display=swap');


/*MEDIAS QUERIES

@media screen and (min-width: 320px) and (max-width: 768px) 
{
    .footer {
        background-color: black;
         
    }


}
*/

/* CUERPO DE PAGINA */


body {
    background-color: coral;
    font-family: 'Asap Condensed', sans-serif;
}

.header {
    background-color: white;
    
}



/*ESTILO GRILLA*/

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 170px repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "header header header" 
    " . centro . " 
    " . footer . ";
    }


.header {
    grid-area: header;
}

.centro {
    grid-area: centro;
}

.footer {
    grid-area: footer;
}



/*ESTILO TITULO*/


#titulo {
    color: rgba(162, 0, 255, 0.774);
    font-family: 'Asap Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    display: flex;
    margin: auto auto;
    width: 300px;
    font-weight: bold;
    text-align: center;
    top: 50px;

}

/*ESTILO LOGO Y REDES SOCIALES*/


.logoyredes {
    position: absolute;
    top: 15px;
}

.redes {
    position: absolute;
    left: 50px;
}

/*ESTILO MENU*/


.menu{
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'Asap Condensed', sans-serif;
    background-color: indianred;
    border-top: outset 5px violet;
    border-left: outset 5px violet;
    border-right: outset 5px violet;
    border-bottom: outset 5px violet;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    text-align: center;
    margin: auto;

}

.menu li {
    display: inline-block;
    text-align: center;
    margin: auto;
}


/* ESTILO PIE DE PAGINA*/


.footer{
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'Asap Condensed', sans-serif;
    background-color: white;
}

.footer li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    text-align: center;

}

.footer li {
    display: inline-block;
    text-align: center;
}

/*ESTILO PAGE CONSULTA*/


.campoconsulta {
    width: 450px;
    margin: auto;
    padding: 20px;
    
}

.campoconsulta legend{
    margin: auto;
    
}

/* "TENTATE CON ESTAS PROMOS" */

.centroindex {
    font-family: 'Asap Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    display: block;
    margin: 22px auto;
    width: 300px;
    font-weight: bold;
    text-align: center;
    top: 50px;

}


